footer {
    background-color: var(--verde);
    bottom: auto;
}

footer p {
    color: var(--branco);
    font-family: var(--fonte);
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

